<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS}{GMT} Thread-%tid %msg%ex%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger additivity="false" level="DEBUG" name="com.webtwinz">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>